
/* Root for font styles */
:root {
  --font-page-header: 30px;
  --font-content: 16px;
  --font-card-title: 20px;
  --font-label: 12px;
}

/* Root for colors */
:root {
  --cta-primary: #1976d2;
  --color-status-open: #238636;
  --color-status-closed: #da3633;
  --color-status-merged: #8957e5;
  --color-status-draft: #6e7681;
  --color-canvas: #0d1117;
  --color-canvas-complementary: #010409;
  --color-light: #eeeeee;
}


body, html {
  font-family: "Helvetica";
  background-color: var(--color-canvas);
  color: var(--color-light);
}

a {
  color: var(--color-light);
  text-decoration: none;
}

a:hover {
  color: var(--cta-primary);
}